.datavis-layout-wrapper {
  height: 100%;
  width: 100%;
  background: var(--datavis-editor-background);
  color: var(--ui-font-color);
  overflow: hidden;

  ul ol {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
  }

  .datavis-editor {
    height: 100%;
    width: 100%;

    .bisection-layout {
      display: flex;
      color: var(--ui-secondary-font-color);

      .bisection-item {
        flex: 1;
        padding: 0 8px;
        display: flex;
        flex-direction: column;

        >span {
          font-size: 14px;
          margin-bottom: 4px;
        }
      }
    }

    .datavis-editor-header {
      height: var(--datavis-editor-header-height);
      background-color: var(--datavis-editor-header-background);
      position: relative;
      z-index: 11;
      border-bottom: 1px solid #0c0c0c;
    }

    .datavis-editor-body {
      height: calc(100% - var(--datavis-editor-header-height));
      display: flex;
    }

    .datavis-editor-body__left {
      width: var(--datavis-editor-left-width);
      height: 100%;
    }

    .datavis-editor-body__center {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .datavis-editor-body__right {
      width: var(--datavis-editor-right-width);
      height: 100%;
    }

    .datavis-editor-body__center__top {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      .draw-action-item {
        padding: 5px;
        color: #c7c8cf;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:hover {
          background: #393b3e;
          border-color: rgba(151, 151, 151, 0.11);
        }

        &.active {
          background: rgba(36, 109, 255, 0.1);
          color: #246dff;
        }
      }
    }

    .datavis-editor-body__center__bottom {
      height: 40px;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--datavis-editor-bottom-color);
    }

    .top-action {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      color: var(--ui-secondary-font-color);
      cursor: pointer;
      width: 62px;

      &.panel-wrap {
        width: 86px; // 62 + 24
      }

      &.disabled {
        cursor: not-allowed;
        color: var(--ui-disabled-color);

        .vis-icon-wrap {
          color: var(--ui-disabled-color);
        }

        .vis-icon-outline {
          color: var(--ui-disabled-color);
        }

        .top-action-title {
          color: var(--ui-disabled-color);
        }

        >* {
          pointer-events: none;
        }
      }

      >span {
        font-size: 12px;
        margin-top: 2px;
        white-space: nowrap;
        user-select: none;
      }

      &:hover .vis-icon-wrap .triangle {
        transform: rotate(-180deg);
      }

      &.active {
        .vis-icon-outline {
          background-color: var(--toolbar-icon-active-background) !important;
          color: var(--toolbar-icon-active-color);
        }

        .top-action-title {
          color: var(--ui-font-color);
          font-weight: 600;
        }
      }

      .vis-icon-wrap {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 4px;

        &.no-hover:hover {
          background-color: var(--toolbar-icon-background);
        }

        .triangle {
          transition: all 0.3s;
          margin-left: 2px;
          width: 0;
          height: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 4px solid var(--toolbar-icon-color);

          &::after {
            content: '';
            width: 8px;
          }
        }

        .icon {
          color: var(--toolbar-svgicon-color);
          opacity: 0.3;

          &+.icon {
            margin-left: 4px;
          }

          &.active {
            color: var(--toolbar-svgicon-active-color);
            opacity: 1;
          }
        }
      }

      .top-action-title {
        color: var(--toolbar-action-color);
      }
    }

    .editor-top-toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .toolbar-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12px;
      }

      .toolbar-center {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hover-active-input {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--ui-font-color);
        line-height: 30px;
        padding: 0 6px;
        margin: 0 6px;
        border-radius: 2px;
        font-size: 16px;
        width: 170px;

        &:hover {
          border-color: var(--ui-reset-border);
        }

        &:focus {
          border-color: var(--el-color-primary);
        }
      }
    }

    .editor-right-bar {
      width: 100%;
      height: 100%;

      >.el-tabs {
        padding: 0 16px;

        .el-tabs__item {
          padding: 0 14px;
        }
      }

      .editor-right-bar-content {
        height: calc(100% - 40px);
      }
    }

    .datavis-align-bar {
      padding: 6px 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: inset 0px -1px 0px 0px #000000;
      margin-bottom: -1px;

      .align-item {
        display: inline-flex;
        padding: 6px;
        color: var(--ui-secondary-font-color);
        cursor: pointer;
        border-radius: 2px;

        &:not(.disabled):hover {
          background-color: var(--ui-icon-hover-background);
        }

        >* {
          pointer-events: none;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      .align-item-input {
        width: 48px;
        margin: 0 5px;
      }

      .svg-split-line {
        height: 16px;
        width: 1px;
        margin: 0 8px;

        >line {
          stroke: var(--ui-secondary-font-color);
          stroke-dasharray: 4 2;
        }
      }
    }
  }

  // workspace
  .datavis-workspace-bar {
    position: relative;
    flex: 1;
    overflow: hidden;

    // 修改标线数值颜色
    .mb-ruler {
      .line .action {
        color: var(--datavis-ruler-bar-color);
      }

      .corner {
        background-size: 100%;
      }
    }

    .datavis-workspace-bar-container {
      height: 100%;
      width: 100%;
      overflow: hidden;

      .datavis-workspace-bar-selection {
        background-color: var(--workspace-background);
      }
    }

    .datavis-workspace-bar-selection {
      position: relative;
      margin-left: 16px;
      margin-top: 16px;
      height: calc(100% - 16px);
      width: calc(100% - 16px);

      &.isGrab {
        cursor: grab;
      }
    }

    .datavis-workspace-bar-screen {
      top: 0;
      left: 0;
      position: absolute;
      transform-origin: left top;
    }
  }
}

.form-item-reset-loading {
  &.el-loading-parent--relative {
    min-height: auto;
  }

  .el-form-item__content {
    justify-content: space-between;
  }

  .el-select {
    width: 92%;
  }
}