.datavis-editor-pagebar {
  position: relative;
  display: flex;
  height: 100%;
  color: var(--pagebar-background);

  .append_board_item {
    width: var(--pagebar-item-width);
    height: 100%;
    border-left: 1px solid var(--pagebar-item-border-color);
    border-right: 1px solid var(--pagebar-item-border-color);
    box-sizing: border-box;
    position: relative;
    padding: 8px;

    .append_box {
      width: 12px;
      height: 12px;
    }
  }

  .page-bar_board_item {
    height: 40px;
    min-width: 100px;
    max-width: 126px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: var(--pagebar-item-color);
    padding: 0 10px;
    cursor: pointer;
    position: relative;

    &.front {
      min-width: 80px;
      max-width: 80px;
    }

    .board-name {
      margin-left: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
    }

    .board-name_input {
      background: transparent;
      border: none;
      outline: none;
      max-width: 60px;
      color: var(--pagebar-item-input-color);
      font-size: 12px;
      padding: 2px;
      border: 1px solid var(--pagebar-item-input-border-color);
    }

    &:hover {
      background: var(--pagebar-item-hover-background);
      color: var(--pagebar-item-hover-color);

      .board_item_delete {
        opacity: 1;
      }
    }

    &.active {
      font-weight: 600;
      color: var(--pagebar-item-active-color);
      background: var(--pagebar-item-active-background);

      &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 2px;
        background: #1c9ee9;
      }

      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #1c9ee9;
      }
    }

    .board_item_delete {
      position: absolute;
      font-size: 12px;
      top: 50%;
      right: 6px;
      transform: translateY(-44%);
      opacity: 0;
    }
  }

  .page-bar_board_list {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}