.datavis-editor-signal {
  .datavis-editor-signal-icon {
    cursor: pointer;
    padding: 3px 5px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--ui-button-hover-bg-color);
    }
  }

  .datavis-editor-signal-dialog {

    .datavis-editor-signal-dialog-action {
      display: flex;
      justify-content: flex-end;
    }

    .datavis-editor-signal-dialog-content {
      height: 320px;
    }
  }

  .signal-list {
    height: 100%;
    overflow: hidden;

    .signal-list-body {
      height: 100%;

      .signal-list-body-ul {
        max-height: 240px;
        overflow: auto;

        &.p-b-20 {
          padding-bottom: 20px;
        }

        &::-webkit-scrollbar {
          width: 10px !important;
          height: 10px !important;
        }

        &::-webkit-scrollbar-thumb {
          background: #3e454e !important;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-corner {
          display: none !important;
        }

        .signal-list-item {
          display: flex;
          align-items: center;
          height: 34px;
          line-height: 32px;
          cursor: pointer;

          &.is-active {
            background-color: #3e454e;
          }

          .item-value {
            flex: 1;
            color: #fff;
            padding: 0 10px;
            font-size: 13px;
          }

          .item-action {
            min-width: 24px;

            .draw-signal-icon {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}